@charset "utf-8";
body { background:url(banner_default.jpg) no-repeat center top #141414; }
.header { width:100%; }
.topArea { position:relative; height:260px; margin:0; z-index:2; }
.logo { float:left; width:255px; height:260px; margin:0 0 0 15px; background:url(logo2.png) no-repeat; overflow:hidden; display:inline; }
.logo a { display:block; width:255px; height:260px; padding-top:260px; }
/* 导航区域 */
.nav { float:left; width:665px; height:137px; margin:9px 0 0; z-index:2; }
.navs { height:137px; }
.navs li { position:relative; float:left; width:110px; height:137px; font-weight:bold; font-size:15px; line-height:30px; z-index:99; text-align:center; }
.navs li a { display:block; height:30px; padding:75px 0 0; background:url(nav.png) no-repeat; color:#fff; }
.navs li a:hover,.navs li .current { background:url(nav.png) no-repeat; color:#bb694e; }
.navs .n1 a { background-position:30px 28px; }
.navs .n2 a { background-position:30px -109px; }
.navs .n3 a { background-position:30px -246px; }
.navs .n4 a { background-position:30px -383px; }
.navs .n5 a { background-position:30px -520px; }
.navs .n6 a { background-position:30px -657px; }
.navs .n1 a:hover,.navs .n1 .current { background-position:-80px 28px; }
.navs .n2 a:hover,.navs .n2 .current { background-position:-80px -109px; }
.navs .n3 a:hover,.navs .n3 .current { background-position:-80px -246px; }
.navs .n4 a:hover,.navs .n4 .current { background-position:-80px -383px; }
.navs .n5 a:hover,.navs .n5 .current { background-position:-80px -520px; }
.navs .n6 a:hover,.navs .n6 .current { background-position:-80px -657px; }
