@charset "utf-8";
.header { width:100%; }
.topArea { position:relative; width:1000px; height:137px; margin:0 auto; z-index:2; }
.logo { float:left; width:335px; height:137px; background:url(logo.jpg) no-repeat; overflow:hidden; }
.logo a { display:block; width:335px; height:137px; padding-top:137px; }
/* 导航区域 */
.nav { float:right; width:665px; height:137px; margin:0 auto; z-index:2; }
.navs { height:137px; }
.navs li { position:relative; float:left; width:110px; height:137px; font-weight:bold; font-size:15px; line-height:30px; z-index:99; text-align:center; }
.navs li a { display:block; height:30px; padding:75px 0 32px; background:url(nav.png) no-repeat; color:#fff; }
.navs li a:hover,.navs li .current { background:url(nav.png) no-repeat; color:#bb694e; }
.navs .n1 a { background-position:30px 28px; }
.navs .n2 a { background-position:30px -109px; }
.navs .n3 a { background-position:30px -246px; }
.navs .n4 a { background-position:30px -383px; }
.navs .n5 a { background-position:30px -520px; }
.navs .n6 a { background-position:30px -657px; }
.navs .n1 a:hover,.navs .n1 .current { background-position:-80px 28px; }
.navs .n2 a:hover,.navs .n2 .current { background-position:-80px -109px; }
.navs .n3 a:hover,.navs .n3 .current { background-position:-80px -246px; }
.navs .n4 a:hover,.navs .n4 .current { background-position:-80px -383px; }
.navs .n5 a:hover,.navs .n5 .current { background-position:-80px -520px; }
.navs .n6 a:hover,.navs .n6 .current { background-position:-80px -657px; }
.container { position:relative; background:url(c.jpg) no-repeat center bottom; z-index:1; }
/* 底部 */
.footer { position:relative; padding:15px 0; line-height:30px; text-transform:uppercase; text-align:center; z-index:9; clear:both; }
.ftl { height:36px; background:url(ft.gif) repeat-x; }
.wrap { position:relative; width:1000px; margin:0 auto; background:#fff url(ico_01.jpg) no-repeat; }
.wrap .sidebar { float:left; width:143px; }
.wrap .main { float:right; width:857px; padding:0; }
.wrapBt { height:0; overflow:hidden; clear:both; }



.coffee { position:absolute; left:-161px; bottom:0; width:208px; height:215px; background:url(ico_02.png) no-repeat; z-index:999; }

/* 面包屑 */
.location { position:relative; height:120px; background:url(breadcrumbs.png) no-repeat right bottom; }
.location h2 { float:left; width:143px; padding:86px 0 0; color:#bb694e; font-size:15px; line-height:26px; text-align:center; }
.breadcrumbs { float:right; padding:48px 90px 0 0; color:#404040; line-height:72px; text-align:right; }
.breadcrumbs .current { color:#bb694e; }

.bg-about { min-height:735px; _height:735px; background:url(bg_about.jpg) no-repeat left bottom; }
.bg-about .location h2 { background:url(ico_03.jpg) no-repeat center 36px; }
.bg-contact { min-height:635px; _height:635px; background:url(bg_contact.jpg) no-repeat left bottom; }
.bg-contact .location h2 { background:url(ico_03-d.jpg) no-repeat center 36px; }
.bg-hr { min-height:635px; _height:635px; background:url(bg_hr.jpg) no-repeat left bottom; }
.bg-hr .location h2 { background:url(ico_03-e.jpg) no-repeat center 36px; }
.bg-news { min-height:735px; _height:735px; background:url(bg_news.jpg) no-repeat left bottom; }
.bg-news .location h2 { background:url(ico_03-f.jpg) no-repeat center 36px; }
.bg-join { min-height:635px; _height:635px; background:url(bg_join.jpg) no-repeat left bottom; }
.bg-join .location h2 { background:url(ico_03-c.jpg) no-repeat center 36px; }
.bg-product { min-height:635px; _height:635px; background:url(bg_product.jpg) no-repeat left bottom; }
.bg-product .location h2 { background:url(ico_03-b.jpg) no-repeat center 36px; }

/* 二级导航 */
.menu { width:108px; padding:0 0 0 35px; }
.menu dl { width:108px; }
.menu dl dt { width:108px; font-size:14px; }
.menu dl dt a { display:block; width:91px; padding:9px 0 9px 17px; background:url(menu_1.jpg) no-repeat 0 12px; line-height:20px; }
.menu dl dt a:hover,.menu dl dt .current { background:url(menu_01.jpg) no-repeat 0 12px; color:#bb694e; text-decoration:none; }
.menu dl dd { width:108px; padding:5px 0; border-bottom:1px dashed #e6e6e6; line-height:20px; }
.menu dl dd a { display:block; padding:0 0 0 17px; background:none; color:#333; }
.menu dl dd a:hover,.menu dl dd .current { color:#3a4e64; font-weight:bold; text-decoration:none; }

/* 联系我们 */
.cmod { padding:25px 48px 0; line-height:25px; }
.cmod h3 { color:#bb694e; font-size:14px; font-weight:100; line-height:28px; }
.cmod-1 { padding-top:40px; }
.cmod-1 .bd { padding-top:8px; }
.cmod-2 { padding-top:25px; }
.cmod-2 .bd { padding-top:10px; }

/* Display */
.article { position:relative; padding:40px 0; line-height:210%; }
.article .hd { padding:5px 0 20px; text-align:center; }
.article .hd h1 { font:18px/38px 'microsoft yahei'; }
.article .hd .titBar { color:#999; line-height:28px; } 
.article .bd { position:relative; padding:10px 95px 0 85px; font-size:14px; line-height:2.1; word-wrap:break-word; }

.news { padding:36px 90px 20px; }
.news .item { border-bottom:1px solid #c8c6c5; }
.news .item h2 { font-size:14px; font-weight:100; line-height:32px; }
.news .item h2 em { font:10px/20px arial; }
.news .item h2 span { float:right; width:16px; height:16px; margin-top:7px; background:url(ico_05.gif) no-repeat; }
.hotNews { margin:0; padding:10px 0 15px; clear:both; display:none; }
.hotNews .pic { float:left; width:146px; height:100px; padding:0; border:0; margin-right:20px; }
.hotNews dl { display:block; overflow:hidden; zoom:1; line-height:22px; }
.hotNews dl .info { padding-bottom:15px; color:#000; line-height:20px; }
.hotNews dl .more { width:102px; height:26px; background:url(ico_04.jpg) no-repeat; line-height:26px; text-align:center; }
.hotNews dl .more a { color:#fff; }
.news .on { border-bottom:0; }
.news .on h2 { color:#bb694e; font-weight:bold; }
.news .on h2 a { color:#bb694e; }
.news .on h2 span { background:url(ico_06.gif) no-repeat; }
.news .on .hotNews { display:block; }


/* 图文列表 */
.pothoItem { padding-bottom:20px; }
.pothoItem .item { padding:13px 0 13px; border-bottom:1px dashed #e8e8e8; }
.pothoItem .item .pic { float:left; width:184px; height:125px; margin-right:20px; }
.pothoItem .item dl { display:block; overflow:hidden; zoom:1; color:#4b4b4b; }
.pothoItem .item dl dt { padding:2px 0 6px; color:#929292; line-height:26px; font-weight:bold; font-size:14px; }
.pothoItem .item dl dt a { color:#003d80; }
.pothoItem .item dl dt span a { color:#929292; }
.pothoItem .item dl dd { line-height:22px; }
.pothoItem .item dl dd a { color:#e67817; }

/* 图片列表 */
.pic-item-list { margin:0 0 20px; }
.pic-item-list .pic-item { display:block; float:left; width:130px; margin-bottom:10px; padding:0; }
.pic-item-list .list-pic { display:block; width:100px; height:100px; margin:0 auto; padding:4px; border:1px solid #919090; line-height:100px; text-align:center; }
.pic-item-list dl { padding:0 5px; line-height:26px; text-align:center; }

/* 图片列表尺寸 基于基础库 */
.w215 { width:710px; margin-bottom:20px; overflow:hidden; }
.w215 .pic-item-list { width:738px; margin:0; padding:5px 0 0; }
.w215 .pic-item { position:relative; width:217px; margin:0 29px 15px 0; padding:0; display:inline; }
.w215 .list-pic { display:block; width:215px; height:280px; padding:0; border:1px solid #5f463a; line-height:280px; }
.w215 dl { padding:0; line-height:18px; }
.w215 dl dt { padding:10px 0 0; }

/* 新闻列表 */
.list { margin:0; padding:0 0 20px; }
.list li { padding:6px; border-bottom:1px dotted #d2d2d2; background:url(ico_03.gif) no-repeat 8px 13px; font-size:12px; line-height:20px; clear:both; }
.list li span { float:right; color:#525252; }
.list li .down { width:76px; height:22px; background:url(ico_05.gif) no-repeat; line-height:22px; text-align:center; }
.list li .down a { padding:0; color:#fff; }
.list li a { color:#000; padding-left:25px; }
.list li a:hover { text-decoration:underline; }
.list .hover .down { background:url(ico_04.gif) no-repeat; }
.list .hover a { color:#0050a2; }

/* 分页 */
.page { padding:0 0 20px 83px; line-height:27px; }
.page a { display:inline-block; height:27px; padding:0 7px; vertical-align:top; font-weight:bold; }
.page a:hover,.page .current { color:#bb694e; }

.products { padding:22px 0 0; }
.products .item { float:left; width:327px; margin-bottom:36px; }
.products .item .txt { float:left; width:116px; padding-right:20px; color:#bb694e; font-size:14px; text-align:right; line-height:26px; }
.products .item .txt a { color:#bb694e; }
.products .item .pic { display:block; overflow:hidden; zoom:1; width:191px; }
.products .item .pic img { vertical-align:top; }

.product { padding:22px 0 0; }
.product .txt { float:left; width:116px; padding-right:20px; color:#bb694e; font-size:14px; text-align:right; line-height:26px; }
.product .pic { display:block; overflow:hidden; zoom:1; }
.product .pic img { vertical-align:top; }


.ja { margin-bottom:35px; padding:32px 95px 0 7px; }
.ja .fl { width:313px; }
.ja .fr { width:415px; padding-top:10px; line-height:24px; }
.ja .fr h4 { color:#bb694e; font-size:14px; }
.jb { margin-bottom:15px; padding:0 95px 11px 7px; border-bottom:1px dotted #bfbfbf; line-height:24px; }
.jf { margin-bottom:15px; padding:0 95px 11px 7px; }
.jfu { padding-bottom:10px; }
.jfu li { float:left; line-height:26px; }
.jfu .jfun { width:50px; padding-left:24px; background:url(ico_09.gif) no-repeat 11px 11px;  }
.jfu .text { width:280px; height:20px; padding:2px; border:1px solid #ddd; background:#f9f9f9; }
.jfu .textarea { width:560px; height:80px; padding:2px; border:1px solid #ddd; background:#f9f9f9; }
.jfus { padding-top:10px; }
.jfus ul { height:20px; background:url(ico_10.gif) no-repeat center center; text-align:center; }
.jfus ul li { display:inline-block; zoom:1; *display:inline; height:20px; }
.jfus .submit { width:56px; height:20px; margin:0 2px; border:0; background:#bb694e; color:#fff; cursor:pointer; }
.jfus .reset { width:56px; height:20px; margin:0 2px; border:0; background:#999; color:#fff; cursor:pointer; }