@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}body,button,input,select,textarea{-webkit-text-size-adjust:none;font:12px/1.5 Tahoma,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}ul,ol,li{list-style:none}a{text-decoration:none}legend{color:#000}fieldset,img{border:0;vertical-align:top;}section,article,aside,header,footer,nav,dialog,figure{display:block;}figure{margin:0;}button,input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}html {overflow-y:scroll;}.clear{display:block;height:0;overflow:hidden;clear:both}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{*zoom:1}a:link,a:visited{text-decoration:none}a:hover,a:active{text-decoration:underline}a{blr:expression_r(this.onFocus=this.blur())}a{outline:none;}.none{display:none;}.block{display:block;}.noBg{background:none !important;}.noBd{border:none !important;}.noPd{padding:0 !important;}

body { position:relative; background:#f0eced; color:#000; font-family:'Microsoft Yahei'; }
a { color:#000; }
.wrap { position:relative; width:1000px; margin:0 auto; clear:both; }
.header,.container,.footer { margin:0 auto; }

/* common */
.logo { float:left; height:89px; overflow:hidden; }
.topTel { float:right; height:89px; line-height:89px; font-size:15px; }
.topTel em { font-size:18px; color:#2e73e3; }

.banner { position:relative; width:100%; height:387px; }
.banner li,.banner li a { display:block; width:100%; height:387px; }
.banner .hd { position:absolute; left:0; bottom:45px; width:100%; height:15px; text-align:center; }
.banner .hd li { display:inline-block; width:60px; height:13px; margin:0 14px; background:#3279c3; text-indent:-999em; }
.banner .hd li.on { background:#0053b7; }

.container .wrap { border:#c1bdbe 1px solid; border-radius:5px; }

/*footer*/
.footer { padding:15px 0; }
.copyright { font-size:13px; text-align:center; }

/* 导航区域 */
.nav { float:right; width:665px; height:137px; margin:0 auto; z-index:2; }
.navs { height:137px; }
.navs li { position:relative; float:left; width:110px; height:137px; font-weight:bold; font-size:15px; line-height:30px; z-index:99; text-align:center; }
.navs li a { display:block; height:30px; padding:75px 0 32px; background:url(nav.png) no-repeat; color:#fff; }
.navs li a:hover,.navs li .current { background:url(nav.png) no-repeat; color:#bb694e; }
.navs .n1 a { background-position:30px 28px; }
.navs .n2 a { background-position:30px -109px; }
.navs .n3 a { background-position:30px -246px; }
.navs .n4 a { background-position:30px -383px; }
.navs .n5 a { background-position:30px -520px; }
.navs .n6 a { background-position:30px -657px; }
.navs .n1 a:hover,.navs .n1 .current { background-position:-80px 28px; }
.navs .n2 a:hover,.navs .n2 .current { background-position:-80px -109px; }
.navs .n3 a:hover,.navs .n3 .current { background-position:-80px -246px; }
.navs .n4 a:hover,.navs .n4 .current { background-position:-80px -383px; }
.navs .n5 a:hover,.navs .n5 .current { background-position:-80px -520px; }
.navs .n6 a:hover,.navs .n6 .current { background-position:-80px -657px; }
.container { position:relative; background:url(c.jpg) no-repeat center bottom; z-index:1; }